<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Formulario Usuario</title>
</head>
<body>
  <h1>{% if object %}Editar{% else %}Nuevo{% endif %} usuario</h1>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">Guardar</button>
    <a href="{% url 'usuario_list' %}">Cancelar</a>
  </form>

  <hr>

  <p>
    <a href="{% url 'usuario_list' %}">👤 Volver a lista de usuarios</a> |
    <a href="{% url 'usuariovideo_list' %}">🔗 Ver Usuario-Video</a> |
    <a href="{% url 'paso1_usuario' %}">🏠 Inicio</a>
  </p>
</body>
</html>

